.calculator-body{
    height: 300px;
    width: 250px;
    background-color: black;
    margin: 20px auto;
    border-radius: 10PX;
    padding: 20PX;
    padding-top: 40PX;
}
.screen{
    background-color: white;
    text-align: right;
    width: 220px;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    padding: 5px 10px;
    margin-bottom: 20PX;
}
.button-container{
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 50px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    margin: 3PX;
    border: 1PX solid black;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 0 5px 0 #fff;
    transition: 0.5s;
}
.btn-equals{
    background-color: #FF6348;
}